#particles-js{ 
    position:fixed; 
    width: 100%; 
    height: 100%; 
    background-color: black;  
    z-index: -1;
}


.header {
    color: white;
    text-align: center;
    padding: 40vh 0vh 100vh 0vh;
}

h1 {
    font-size: 100px !important;

}

.things {
    color: white;
    text-align: center;
    margin: 0% 20% 10% 20%;
}

.recentprojects {
    padding-top: 40vh;
   padding-bottom: 10vh;
}

.links{
    display:inline-block;
}

.aboutme {
   padding-top: 40vh;
   padding-bottom: 10vh;
}


